<html ng-app="app">
<head>
  <title>TenriDB Angular Front End</title>
  <link rel="stylesheet" type="text/css" href="index_style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
</head>

<body ng-controller="TodoController">
  <header>
    <div class="bg-header">
	  <img id="header_logo" src="http://anecdotes.mattsabban.com/emblem_100x100.png" alt="tenrikyo_logo">
	  <h1>TenriDB: Database of Tenrikyo Literature</h1>
	</div>
  </header>
  
  		<div id="core" class="clearfix">
		
		<!--
			<section id="left">
				<p>Find Literature</p>
				<div id="form" class="formfix">
					<form method="post" action="/tenrikyo_webapp.php" name="searchForm">
					<input type="number" placeholder="Story Number" name="Story_Number" pattern="[-0-9]+"></br>
					<input type="text" placeholder="Title" name="Title"></br>
					<input type="text" placeholder="Content like..." name="Content"></br>
					<input type="number" placeholder="Page number" name="Page_Number" pattern="[-0-9]+"></br>
					<input type="submit" class="submit" name="search" value="Search">
					<input type="submit" class="submit" name="viewAll" value="View All">
					</form>
										
				</div>
			</section>
			
			-->
			
			<section id="intro">
				<h2>Welcome to TenriDB, an Open-Source Knowledgebase of all things Tenrikyo. You will find various translations of various speeches, texts, and other documentation related to Tenrikyo that has been compiled by our team.</h2>
				<br>
				<p>If you would like to contribute to the TenriDB project, please submit an email to <a href="mailto:tymanany@gmail.com?Subject=Contribute%20to%20TenriDB" target="_top">tymanany@gmail.com</a></p>
				<p>When in doubt, please consult with your local reverend or with the official translation.</p>
			</section>
		
			
			<!-- I will probably create a new section down here for the Search Results to Populate after making the database call -->
		</div>
		
		<div id="results">
		</div>
  
  <input ng-model="name" placeholder="Your Search..."> Hello {{name}} <select>
    <option value="document">Entire Document</option>
	<option value="title">Title</option>
	<option value="author">Author</option>
	<option value="tags">Tags</option>
  </select>
  
  <ng-view></ng-view>
  
  <!-- Template -->
  <script type="text/ng-template" id="/todos.html">
  <ul>
    <li ng-repeat="todo in todos">
	  <input type="checkbox" ng-model="todo.completed">
        <a href="#/{{$index}}">{{ todo.title }}, {{ todo.author }} | {{ todo.tags }}</a>
	</li>
  </ul>
  </script>
  
  <script type="text/ng-template" id="/todoDetails.html">
    <h1> {{ todo.name }} </h1>
	completed: <input type="checkbox" ng-model="todo.completed">
	note: <textarea> {{ todo.source }}</textarea>
  </script>

  <script>
  angular.module('app',['ngRoute'])
  
    .factory('Todos', function(){
	  return [
	    { title: 'The Anecdotes of Blah', author: 'Matthew', description: 'This is a book of anecdotes', contributors: 'Matt Sabban', source: 'Book of Oyasama', doc_type: 'text', language: 'en', tags: ["Anecdotes", "Oyasama", "History"], content: null, url: null, completed: true },
		{ title: '10 Things I know about you', author: 'Kay Sabban', description: 'This is a book of things', contributors: 'Matt Sabban', source: 'Book of Oyasama', doc_type: 'text', language: 'en', tags: ["Anecdotes", "Oyasama", "History"], content: null, url: null, completed: false },
		{ title: 'Maya Himawari', author: 'Matthew', description: 'The life story of Maya Himawari', contributors: 'Matt & Kay Sabban', source: 'Book of Oyasama', doc_type: 'text', language: 'en', tags: ["Anecdotes", "Oyasama", "History"], content: null, url: null, completed: false }
	  ];
	})
	
    .controller('TodoController', ['$scope', 'Todos', function($scope, Todos){
	  $scope.todo = Todos;
	}])
	
	.controller('TodoDetailCtrl',['$scope', '$routeParams', 'Todos', function($scope, $routeParams, Todos){
	  $scope.todo = Todos[$routeParams.id];
	}])
  
    .config(['$routeProvider', function ($routeProvider){
	  $routeProvider
	    .when('/', {
		  templateUrl: '/todos.html',
		  controller: 'TodoController'
		});
		
		.when('/:id', {
		  templateUrl: 'todoDetails.html',
		  controller: 'TodoDetailCtrl'
		});
		
	}]);
  </script>
</body>
</html>